/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
html,
header {
  background: #facd50;
  height: 60px;
  text-align: center;
  padding-top: 10px
}

.topnav {
  background: #facd50;
  font-size: 35px;
  font-family: monospace;
  text-align: center;
}
.c-site-header {
  font-size: 25px;
  text-align: center;
  background-color: #facd50;
  padding-bottom: 30px;
  float:
 
  
}
h1 {
  font-family: monospace;
  font-size: 60px;
  color: #f54c79;
  float:left;
  padding-left:50px;
  padding-right:50px;
   

  
}
h2 {
  font-size: 30px;
  color: #f54c79;
  text-align: center;
  background-color: white;
  padding: 5px;
  border: 5px;
  border-style: solid;
  border-radius: 30px;
  margin-left: 100px;
  margin-right: 100px;
  
}

iframe {
  
  float: left;
  padding: 10px;
}
img {float: left;
padding: 10px;
marigin-left 20px
} 
  
.center
{display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;}

body {
  margin: 100;
  height: 100;
  background: #facd50;
  font-family: monospace;
  text-align: left;
}
p { font-family: monospace;
  font-size: 25px;
  padding: 2px;
  text-align:left;
 
}
section {text-align:left}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors {
  display: none;
}
